<mat-sidenav-container style="height: 100%; width: 100%;">
  <mat-sidenav mode="side" opened opened style="background-color: green; width: 300px">
    <!--Sidenav-->
    <h1>Sidenav</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of todos">
        <span>
          <a [routerLink]="['/edit/', item.id]" routerLinkActive="active" [ngClass]="{'text-decoration-line-through': item.isDone}">
            {{item.title}}
          </a>
        </span>
      </li>
    </ul>
    <button mat-button (click)="openDialog()">New Todo</button>
  </mat-sidenav>
  <mat-sidenav-content style=" background-color: lightcoral">
    <!--Main-->
    <router-outlet>
      <h1>Main content</h1>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>