<mat-form-field appearance="fill" [style.width.px]=500 [style.padding.px]=30>
  <mat-label >Title</mat-label>
  <input matInput #titleInput>
</mat-form-field>
<mat-form-field appearance="fill" [style.width.px]=500 [style.padding.px]=30>
  <mat-label>Urgent</mat-label>
  <mat-select #urgentSelect>
    <mat-option value="1">Yes</mat-option>
    <mat-option value="2">No</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" [style.width.px]=500 [style.padding.px]=30>
  <mat-label>More info</mat-label>
  <input matInput #textInput>
</mat-form-field>
<div>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close (click)="onClick(titleInput, textInput, urgentSelect) ">Save</button>
</div>
